<h1>Cats99 Registration</h1>

<form action= "<%=users_url%>" method="post">
  <input type="text" name="user[user_name]" placeholder="username">
  <br>
  <input type="password" name="user[password]" placeholder="password">
  <br>
  <input type="submit" value="Register">
</form>
